#cart {
    width: 100px;
    height: 100px;
    float: right;
}
#itemCounter {
    float: right;
}
.block {
    display: inline-table;
}
h1 {
    border: 5px solid red;
    text-align: center;
}

.item {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-left: 1000px;
    margin: 10px;
    display: inline;
}

#dark {
    color: white;
    background-color: black;
}

#light {
    color: black;
    background-color: white;
}

